.t-btn-green{
	color: #fff;
	background: #78AB4E;
	border: 2px solid #78AB4E;
	-webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.btn{
  font-weight: 600;
}
.t-btn-green:hover{
	color: #78AB4E;
	background: #eee;
	border: 2px solid #78AB4E;
}


.t-btn-default{
  color: #fff;
  border: 0;
  background-color: #c0c2c7;
  border-color: #c0c2c7;
  border: 2px solid #c0c2c7;
    -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.t-btn-default:hover{
  color: #c0c2c7;
  background: #fff;
  border: 2px solid #c0c2c7;
}